
.block {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 8px;
    margin: 8px 0 8px 0;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.level-check-pr,
.text-pink {
    color: $bb-color-02;
}

.img-circle {
    border-radius: 50%;
    border: 1px solid #999;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover  {
    color: #fff;
}

.bb-image {
  width: 60px;
  height: 60px;
}
.bb-image-cover {
  width: 120px;
  height: 60px;
}
.bb-image-upload {
  width: 60px;
}

// --- menu
.custom-menu-bottom {
    margin-bottom: 0px;

    td {
        width: 20%;
        text-align: center;
        color: #aaa;
        border: 0px !important
     }
}
.menu-bg {
    background-color: #fff;
}
.menu-active {
    color: $bb-color-01 !important;
}
.menu-label {
    font-size: 6pt;
}
.menu-anime {
    animation: bg-color 0.5s;
}
.submit-weight {
    margin-top: 8px
 }
.reset {
    margin-top: 8px;
    position: absolute;
    margin-left: 8px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

@-webkit-keyframes bg-color {
    0% { background-color: #999 }
    100% { background-color: #fff }
}

